.navba-brand {
    float: right;
    padding: 10px 10px;
}

.input-group {
    display: flex;
    padding-top: 10px;
    padding-right: 45px;
}

.input-grou {
    padding: 15px 15px;
}

.btn-default {
    background-color: white;
    border: 0;
}

.btn-default:focus {
    outline: 0;
}

.col-sm-4 {
    padding-top: 15px;
}

.thumbnail {
    background-color: rgb(108, 115, 167);
}